/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f4f4f4;
    z-index: 1000;
    overflow: hidden;
}


.PrzejdzDoLogowania {
    background-color: #f4f4f4;
    
}

/* Register, Login */
.auth-form {
    width: 100%;
    text-align: center;

}

h2.logowanie {
    text-align: left;
}

/* Footer */

.footer {
    clear: both;
    text-align: center;
    height: 200px;
    margin-top: 80%;
}